.parent_mainheading{
    background-color: rgb(7,34,59);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainheading{
   
      
      margin:1%;
      padding: 0.5% 6%;
   
      text-align: center;
      color: black;
      background-color: whitesmoke;
     
}
.parent2 {
    display: flex;
  }

  .child {
    flex: 1;
   
    text-align: center;
  }
  hr {
    margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
  }
  .image {
    float: left;
    margin-right: 10px;
  }
  .colored-button {
    background-color:orange;
    color: white;
    padding-left: 25px ;
    padding-top: 5px;
    padding-top: 5px;
    padding-right: 25px;
    
  }
  