.header {
    width: 100%;
    height: 4em;
    background-color: rgba(10, 10, 56, 0.715);
    padding: 0.5em 0em 0.5em 0em;
    align-content: center;
}

.middle {
    background-color: rgb(235, 235, 213);
    margin: auto auto;
    width: 20%;
    height: 3em;
    /*margin:auto ;*/
    position: relative;
    bottom: 0.8em;
    text-align: center;
}

.hcon {
    position: relative;
    bottom: 15%;
}

.second {
    display: flex;
    /*border: 2px solid pink; */
    width: 100%;
    height: 3em;
    padding: 0.5em 0em 0.5em 1em;
}

.textcen {
    text-align: center;
}

.second .big {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    left: 15em;
    font-family: Cambria;
}

.third {
    position: relative;
    left: 45em;
}

.mid {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 13em;
    /*border : 2px solid gray ;*/
    padding: 1px 10px;
    margin: 1em;
    display: flex;
}

.mid h3 {
    font-size: 20px;
    color:red;
}

.image {
    margin: 2px 30px 2px 2px;
    width: 200px;
    height: 200px;
}

.mid button {
    height: 40px;
    width: 10em;
    color: white;
    font-weight: bold;
    background-color: rgb(8, 8, 8);
    border: none;
}

.mid button:hover {
    color: rgb(13, 14, 13);
    font-weight: bold;
    background-color: rgb(30, 228, 228);
}





/*    Media Queries     */
@media only screen and (max-width: 600px) {
    .second {
        display: block;
        /*  background-color: rgb(38, 228, 235);    */
        width: 100%;
    }

    .second .big {
        position: relative;
        left: 5em;
    }

    .third {
        position: relative;
        left: 15em;
    }
}

@media only screen and (min-width: 768px) {
    .second {
        /*    background-color: red;    */
        width: 100%;
    }

    .second .big {
        position: relative;
        left: 5em;
    }

    .third {
        position: relative;
        left: 15em;
    }
}


@media only screen and (min-width: 992px) {
    .second {
        /*   background-color: rgb(225, 247, 97);  */
        width: 100%;
    }

    .second .big {
        position: relative;
        left: 15em;
    }

    .third {
        position: relative;
        left: 45em;
    }
}

@media only screen and (max-width: 768px) {
    .mid {
        display: block;
        overflow: hidden;
        height: 30em;
    }
}