.main-bg{
    background-color: navy;
    height:120px;
    position: relative;
    

}

.main-text{
    border: 1px solid red;
    background-color: aliceblue;
    height: 50px;
    width: 400px;
    margin-top: 40px;
    position: absolute;
    text-align:center;
    
    margin-left: 40%;


}
span h2
{
    background-color: white;
    margin-top: 1%;
    position:absolute;
    width: 160px;

    text-align: center;
    height: 10px;
    
    padding-left: 116px;
    padding-right: 10px;
}
.main-title{
    display: flex;
    margin-top: 1%;
    padding-left:20% ;

    padding: 0px;
    text-align:justify ;
    margin-bottom: 2%;
}

.input-cat{
    width: 120px;
}
.main-sec{
    padding-left: 40%;
    padding-right: 27%;
}

.read-btn{
    background-color: orangered;
    color:   aliceblue;
    padding: 2px;
    height: 30px;
    text-decoration: solid;
}

hr{
    background-color: black;
    height: 1px;
}
.hr-col{
    background-color: silver;
    height: 1px;
}
.img-box{
    margin-left: 20px;
    margin-right: 60px;
    height: 200px;
    width:250px;
    align-content: center;
}


.sucribe-btn{
    background-color: black;
    color: white;
    text-decoration: solid;
}
