* {
    margin: 0%;
    padding: 0%;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

.header {
    background: rgba(101, 49, 49, 0.977);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 150;
    height: 110px;
    text-align: center;
}

.bg{
    background-color: white;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.bg p{
    text-align: center;
}

select{
    padding: 5px;
}

input[type="email"]{
    padding: 5px;
}

.subheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: 15px Arial;
    height: 100px;
}

.btn{
    padding-left: 2px;
    padding-right: 2px;
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.cards .image{
    width: 20%;
    padding: 30px;
    align-content: center;
}

img{
    transition: box-shadow 0.3s ease-in-out;
}

img:hover{
    box-shadow: 2px 2px 5px rgba(227, 25, 25, 0.6);
    transition: box-shadow 0.3s ease-in-out;
}

.cards .info{
    width: 80%;
    padding: 30px;
    margin-left: 30px;
}

.blog-btn{
    padding: 10px;
    background-color: rgb(255, 55, 0);
    color: #ffffff;
    border-radius: 4px;
    border: none;
    text-align: center;
    display: inline-block; 
    box-shadow: 1.2px black;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.blog-btn:hover {
    background-color: rgb(255, 55, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

h2{
    color: rgb(29, 29, 186);
    font-style: bold;
}

p{
    padding-top: 5px;
    text-align: justify;
}

.text{
    padding-top: 20px;
}

.footer{
    background-color: rgba(101, 49, 49, 0.977);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}