/* *{
    font-family: 'Roboto', sans-serif;
} */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.a{
    text-align: center;
    background-color:rgb(4, 4, 68);
    height: 150px;
    align-items: center;
    margin-bottom: 10px;
  
}
.a1{
    
    text-align: center;
    background-color:white;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    font: 15px Arial;
    border: 2px solid palevioletred;
    margin-bottom: 113px;
    
}
.b{
    display:flex;
    align-items: center;
    justify-content: space-around;
    font: 15px Arial;
    border-bottom: 2px solid grey;
    
}

h2{
    font-family:'Roboto', sans-serif;
    color: midnightblue;
    font-weight: bolder ;
}
.bt{
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn2{
    color: white;
    background-color: black;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin: 4px 2px;
    margin-bottom: 10px;
    transition: all 1s;

}

.btn2:hover{
       transform: scale(1.1);
       border: 1px solid red;
}

.img1{
    margin-top: 20px;
    width: 30%;
    height: 30%;
}
.headings{
    display:inline;
    justify-content: space-around;
    border-top: 1px solid rgb(79, 77, 77);
    
}
.img1:hover{
    transition: all 1s;
    transform: scale(1.1);
}
.head1{
    
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgb(79, 77, 77);
    margin-bottom: 20px;
   
}
.head11{
    border-top: 5px  black;
    padding-left: 50px;
    padding-right: 50px;

}
