*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: rgba(6, 2, 66, 0.824);
    /* font-size: 20px; */
    margin: 15px;
}
.header-content{
    background-color: white;
    padding: 0px 100px 0px 100px;
    margin: 0px 500px 0px 500px;
    text-align: center;

}
.subscribe-btn{
    background-color: rgba(6, 2, 66, 0.824);
    color: white;
}
.blog-heading{
    position: absolute;
}
.third-nav{
    position: relative;
}
h2{
    margin-bottom: 0px;
    color: rgba(6, 2, 66, 0.824);
}
h6{
    margin-top: 5px;
}
.header02{
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
}
.nav-bar{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 800px;
    padding: 15px 0px 15px 0px;
}
p{
    color: white;
}
body{
    margin-top: 0;
}
.container {
    overflow: hidden; /* This will clear the floats */
    margin: 0px 20px 0px 20px;
    padding: 15px 0px 15px 0px;
    background-color: grey;
}
  
img {
    float: left;
    margin-right: 20px;
}
  
.blog-content {
    margin-left: 220px; 
    margin: -18px 0px 5px 246px;

}
.continue-reading {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #333; */
    background-color: #f40000;;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    /* border-color: green; */
    border: 2px solid green;
}
.date {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0px;
}