
.first{
    height: 180px;
    width: auto;
    background-color: yellow;
    margin-top: 40px;
}

.second{
    height: 30px;
    width: 190px;
    background-color: yellow;
    margin-left: 700px;
    padding-top: 40px;
    
 }


.home1{
    display: flex;
    margin-top: 50px;
}

.home2{
    display: flex;
    flex-direction: column;
}

img{
    height: 320px;
    width: 300px;
    margin-left: 6px;
    margin-top: 10px;
    margin-right: 60px;
}

button{
    width: 150px;
    height: 35px;
    background-color: yellow;
    color: black;
    margin-bottom: 10px;
}

h1{
    color: blue;
}

.home3{
    display: flex;
    flex-direction: row;
}
.home4{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}

.h11{
    margin-left:380px ;
}

.home5{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.b1{
    width: 80px;
    height: 25px;
}

h3{
    padding-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 34px;
}

@media screen and (max-width:800px){
    .home3{
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .home1{
        display: flex;
        flex-direction: column;
    }
    .home4{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .home3{
        justify-content: center;
    }
}